* {
    margin: 0 auto
}

nav {
    background-color: rgba(156, 156, 156, 0.8);
    width: 100%;

}

nav ul {
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;

    
}

nav li a {
    line-height: 50px;
    padding: 0 25px;
    text-decoration: none;
    color:blue;
    text-transform: uppercase;
    font-weight: bold;
}

form span {
    padding-left: 10px;
    width: 8%;
    display: inline-block;
    margin-top: 5px;

}

form input {
    display: inline-block;
    width: 15%;
    margin-top: 5px;
}

.check {
    display: inline;
    width: 15px;
    margin-left:10px
}



form select {
    width: 292px;
    display:inline-block;
    margin-top: 5px;
}
form button {
    margin-left: 10px;
}

.check span {
    display: inline;
    margin-right: 0;
}

#error-list li {
    color: red
}